html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	/* display: grid;
	grid-template-columns: 4fr 1fr 1fr; */
}

:root {
	--primary-color-25: #d4f2f4;
	--primary-color-50: #74e7d4;
	--primary-color-100: #189ab4;
	--primary-color-200: #04445f;

	--secondary-color-25: #345d7d;
	--secondary-color-50: #725b78;
	--secondary-color-100: #c66e87;
	--secondary-color-200: #ff7582;

	--background-color-25: #f2f4f7;
	--background-color-50: #98a2b3;
	--background-color-100: #475467;
	--background-color-200: #344054;

	--text-color-25: #1d2538;
	--text-color-50: #475b74;
	--text-color-100: #7c8da5;
	--text-color-200: #e0e1dc;
}

/* Canvas for 3d object */
canvas {
	/* border: 1px solid white; */
	width: 100%;
	min-height: 100%;
	background-color: lightgray;
}

.container-top-left {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 23px;
	padding-left: 23px;
}

.details-page {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	vertical-align: text-top;
}

.item-name-container {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 23px;
	width: 300px; /* Need a specific value to work */
	background-color: white;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-file-name {
	position: relative;
}

.menu-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color-25);
	padding: 0;
	border: 1px solid var(--primary-color-100);
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
}

.menu-container:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color-25);
	padding: 0;
	border: 1px solid var(--primary-color-100);
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	box-shadow: 0px 4px 4px #00000040;
	cursor: pointer;
}

.container-top-right {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	padding-top: 23px;
	padding-right: 23px;
}

.back-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color-25);
	padding: 0;
	border: 1px solid var(--primary-color-100);
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
}

.back-container:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color-25);
	padding: 0;
	border: 1px solid var(--primary-color-100);
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	box-shadow: 0px 4px 4px #00000040;
	cursor: pointer;
}

.container-bottom-right {
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	padding-bottom: 23px;
	padding-right: 23px;
}

input[type="file"] {
	display: none;
}

.upload-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color-25);
	padding: 0;
	border: 1px solid var(--primary-color-100);
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
}

.upload-container:hover {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color-25);
	padding: 0;
	border: 1px solid var(--primary-color-100);
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	box-shadow: 0px 4px 4px #00000040;
	cursor: pointer;
}

.pop-up-container {
	display: none;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.pop-up-box {
	display: flex;
	flex-direction: column;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	justify-content: space-between;
	align-items: flex-start;

	padding: 14px;

	box-sizing: border-box;

	width: 279px;
	height: 141px;

	/* Background Color/Gray/25 */

	background: var(--background-color-25);
	/* Primary Color (Main Theme)/Ocean Wave/200 */

	border: 1px solid var(--primary-color-200);
	box-shadow: 0px 4px 4px var(--primary-color-100);
	border-radius: 2px;
}

.pop-up-button {
	box-sizing: border-box;

	width: 109px;
	height: 31px;

	border: 1px solid var(--primary-color-50);
	border-radius: 2px;

	/* Content/Normal */

	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	/* Primary Color (Main Theme)/Ocean Wave/100 */

	color: var(--primary-color-100);
}

.pop-up-button:hover {
	box-sizing: border-box;

	width: 109px;
	height: 31px;

	border: 1px solid var(--primary-color-50);
	filter: drop-shadow(0px 4px 4px var(--primary-color-100));
	border-radius: 2px;

	/* Content/Normal */

	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	/* Primary Color (Main Theme)/Ocean Wave/100 */

	color: var(--primary-color-100);
}

.pop-up-title {
	/* Title/H2 */

	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;

	/* Primary Color (Main Theme)/Ocean Wave/100 */

	color: var(--primary-color-100);
}

.pop-up-text {
	/* Content/Normal */

	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;

	/* Primary Color (Main Theme)/Ocean Wave/100 */

	color: var(--primary-color-100);
}

.pop-up-button-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
