@import url("https://fonts.googleapis.com/css?family=Ubuntu:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* home page style */
.home-page {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	vertical-align: text-top;
}

/* Canvas for 3d object */
canvas {
	width: 100%;
	min-height: 100%;
	background-color: lightgray;
}

/* For Button Information */
.menu-container-blue-information {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-information:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-information.active {
	background-color: #74e7d4;
}

/* For Button Information */
.menu-container-blue-sound {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-sound:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-sound.active {
	background-color: #74e7d4;
}

/* For Button Animation */
.menu-container-blue-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-animation:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-animation.active {
	background-color: #74e7d4;
}

/* For Button Album */
.menu-container-blue-album {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-album:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-album.active {
	background-color: #74e7d4;
}

/* For Button Lightning Controller */
.menu-container-blue-lightning {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-lightning:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-lightning.active {
	background-color: #74e7d4;
}

/* 3d File Kategori Dropdown */
.select-menu {
	width: 228.89px;
	height: 42.07px;
}

.select-menu .select-menu-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8.70307px 12.1843px;
	cursor: pointer;
	justify-content: space-between;

	background: #e6f5f8;

	border: 0.870307px solid var(--primary-color-100);
}

.select-menu-button img {
	font-size: 25px;
	transition: 0.3s;
}

.select-menu-button span {
	display: flex;
	align-items: center;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 13.9249px;
	line-height: 21px;

	color: var(--text-color-50);

	opacity: 0.75;

	height: 24.66px;
}

.select-menu.active .select-menu-button img {
	transform: rotate(-180deg);
}

.select-menu .options {
	position: relative;
	padding: 0;
	/* margin-top: 10px; */
	margin: 10px 0px 0px 0px;
	background: var(--background-color-25);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	display: none;
}

.select-menu.active .options {
	display: block;
}

.options .option {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 8.70307px 12.1843px;
	gap: 6.96px;
	cursor: pointer;

	background: var(--background-color-25);

	border: 0.870307px solid var(--primary-color-100);
}

.options .option:hover {
	background: var(--primary-color-25);
}

.option .option-text {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 13.9249px;
	line-height: 21px;

	color: var(--text-color-50);

	opacity: 0.75;

	height: 24.66px;
}

/* information section */
.information-container {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 10%;
	left: 0;
	margin-left: 23px;
	margin-top: auto;
	margin-bottom: auto;

	display: none;
	flex-direction: column;
	justify-content: flex-start;
	padding: 12px 0px 12px 16px;
	gap: 5px;

	width: 250px;
	height: 40%;

	background: var(--primary-color-25);
	opacity: 0.8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: var(--primary-color-25);
	}

	::-webkit-scrollbar-thumb {
		background: #888;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.information-description {
	overflow-y: scroll;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;
	padding-right: 16px;

	color: var(--text-color-50);
}

.information-description-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: var(--text-color-25);
}

.information-description-model-number {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: var(--text-color-background-color-200);
}

.information-description-specification {
	font-weight: 700;
	display: flex;
	align-items: center;
	text-align: justify;
}

.information-link {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;
	text-decoration-line: underline;

	color: var(--text-color-primary-color-200);
	padding-right: 16px;
}

/* catalogue section */
.catalogue-container {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 15%;
	right: 0;
	margin-right: 23px;
	margin-top: auto;
	margin-bottom: auto;

	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 12px 18px 12px 18px;
	gap: 5px;

	width: 225px;
	height: 55%;

	background: linear-gradient(
		180deg,
		#f7fbfc 0%,
		rgba(233, 254, 255, 0.62) 100%
	);
	opacity: 0.8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;

	::-webkit-scrollbar {
		display: none;
	}
}

.catalogue-description-title {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: left;

	min-height: 29px;
	max-width: 170px;

	color: #475b74;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 1px 16px 0px 0px;
}

.catalogue-description {
	overflow-y: scroll;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;

	color: var(--text-color-50);
}

.catalogue-product-list {
	display: flex;
	margin-top: 17px;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 15px 0px 0px 0px;

	border: 1px solid #74e7d4;
	border-radius: 10px;

	height: 190px;
	width: 225px;

	cursor: pointer;

	transition: all 0.3s ease-in;
}

.catalogue-product-list:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list.active {
	border: 3px solid #189ab4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalogue-product-list.active:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list-text {
	color: #475b74;
	text-align: center;
	font-size: 16px;
}

.catalogue-image-preview {
	height: 100%;
	width: 100%;
}

.catalogue-description-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.catalogue-back-button {
	/* box-sizing: border-box; */

	width: 29px;
	height: 29px;

	background: #74e7d4;
	border: 1px solid #04445f;
	border-radius: 50%;

	display: flex;
	cursor: pointer;
}

.catalogue-back-button-img {
	margin: auto;
}

/* catalogue model number home */
.catalogue-container-2 {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 15%;
	right: 0;
	margin-right: 23px;
	margin-top: auto;
	margin-bottom: auto;

	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 12px 18px 12px 18px;
	gap: 5px;

	width: 225px;
	height: 55%;

	background: linear-gradient(
		180deg,
		#f7fbfc 0%,
		rgba(233, 254, 255, 0.62) 100%
	);
	opacity: 0.8;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;

	::-webkit-scrollbar {
		display: none;
	}
}

.catalogue-description-title-2 {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;

	min-height: 29px;

	color: #475b74;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 1px 16px 0px 0px;
}

.catalogue-description-2 {
	overflow-y: scroll;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;

	color: var(--text-color-50);
}

.catalogue-product-list-2 {
	display: flex;
	margin-top: 17px;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 15px 0px 0px 0px;

	border: 1px solid #74e7d4;
	border-radius: 10px;

	height: 190px;
	width: 225px;

	cursor: pointer;

	transition: all 0.3s ease-in;
}

.catalogue-product-list-2:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list-2.active {
	border: 3px solid #189ab4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalogue-product-list-2.active:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list-text-2 {
	color: #475b74;
	text-align: center;
	font-size: 16px;
}

.catalogue-image-preview-2 {
	height: 100%;
	width: 100%;
}
