@import url("https://fonts.googleapis.com/css?family=Ubuntu:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* home page style */
.home-page {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	vertical-align: text-top;
	margin: 0;
}

/* Canvas for 3d object */
canvas {
	width: 100%;
	min-height: 100%;
	background-color: lightgray;
}

/* For Button Information */
.menu-container-blue-information {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-information:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-information.active {
	background-color: #74e7d4;
}

/* For Button Sound*/
.menu-container-blue-sound {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-sound:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-sound.active {
	background-color: #74e7d4;
}

.sound-expand {
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 10px;

	padding: 10px 10px 10px 10px;

	min-width: 149.81px;
	height: 170px;

	background: rgba(242, 244, 247, 0.7);
	box-shadow: 0px 4px 4px rgba(24, 154, 180, 0.69);
	border-radius: 5px;

	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 14.8888px;
	line-height: 17px;
	text-align: center;

	color: rgba(4, 68, 95, 0.7);
}

@media screen and (max-width: 650px) {
	.sound-expand {
		/* Box */
		min-width: 110px;
		width: 100px;
	}
}

.sound-expand-component {
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;

	width: 100%;
}

.toggle-container {
	display: flex;
	align-items: center;
	gap: 5px;

	font-size: 12px;
	line-height: 14px;
}

.toggle-music {
	position: relative;
	width: 68.21px;
	height: 34.11px;
	background: #74e7d4;
	border-radius: 34.1063px;
	cursor: pointer;
}

.toggle-music.active {
	background: #189ab4;
}

.toggle-music::before {
	content: "";
	position: absolute;
	width: 26.53px;
	height: 26.53px;
	background: #189ab4;
	border-radius: 50%;
	top: 50%;
	left: calc(50% - 26.53px / 2 - 15.54px);
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out;
}

.toggle-music.active::before {
	left: calc(100% - 26.53px - calc(50% - 26.53px / 2 - 15.54px));
	background: #74e7d4;
}

.toggle-speech {
	position: relative;
	width: 68.21px;
	height: 34.11px;
	background: #74e7d4;
	border-radius: 34.1063px;
	cursor: pointer;
}

.toggle-speech.active {
	background: #189ab4;
}

.toggle-speech::before {
	content: "";
	position: absolute;
	width: 26.53px;
	height: 26.53px;
	background: #189ab4;
	border-radius: 50%;
	top: 50%;
	left: calc(50% - 26.53px / 2 - 15.54px);
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out;
}

.toggle-speech.active::before {
	left: calc(100% - 26.53px - calc(50% - 26.53px / 2 - 15.54px));
	background: #74e7d4;
}

/* For Button Animation */
.menu-container-blue-animation {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-animation:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-animation.active {
	background-color: #74e7d4;
}

/* For Button Album */
.menu-container-blue-album {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-album:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-album.active {
	background-color: #74e7d4;
}

/* For Button Lightning Controller */
.menu-container-blue-lightning {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #189ab4;
	padding: 0;
	border-radius: 14.3734px;
	width: 46.99px;
	height: 46.99px;
	cursor: pointer;
	transition: background-color 0.3s ease-in;
}

.menu-container-blue-lightning:hover {
	box-shadow: 0px 4px 4px #00000040;
}

.menu-container-blue-lightning.active {
	background-color: #74e7d4;
}

.menu-container-blue-lightning-expand {
	min-width: 530px;
	height: 190px;

	background: rgba(242, 244, 247, 0.7);
	box-shadow: 0px 4px 4px rgba(24, 154, 180, 0.69);
	border-radius: 5px;
}

.menu-container-blue-lightning-expand-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	align-items: center;
	height: 100%;
	width: 100%;

	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 14.8888px;
	line-height: 17px;
	text-align: center;

	color: #04445f;
}

.lightning-component-container {
	display: flex;
	margin: 10px 0px 0px 0px;
	gap: 2px;
}

.slider-group {
	display: flex;
	flex-direction: column;
	gap: 6px;

	font-weight: 400;
	font-size: 11.5802px;
	line-height: 13px;
	text-align: center;
}

.slider-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* height: 100%; */
	width: 170px;

	position: relative;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 9px;

	border: 0.564516px solid #74e7d4;
	border-radius: 5.64516px;

	position: relative;
	z-index: 2;

	background-color: transparent;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 21.45px;
	height: 21.45px;
	background-color: #74e7d4;
	border: 0.564516px solid #189ab4;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 0 0 rgba(116, 231, 212, 0.25);
	transition: 0.3s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
	box-shadow: 0 0 0 12px rgba(116, 231, 212, 0.3);
}

.slider:active::-webkit-slider-thumb {
	box-shadow: 0 0 0 5px rgba(116, 231, 212, 0.3);
}

.bar {
	position: absolute;
	z-index: 1;
	left: 2px;
	top: 2px;
	width: 97%;
	height: 9px;

	border: 0.564516px solid #74e7d4;
	border-radius: 5.64516px;

	background-color: #d4f2f4;
	overflow: hiddenss;
}

.fill {
	display: block;
	width: 50%;
	height: 9px;
	background-color: #74e7d4;
	border-radius: 5.64516px;
}

@media screen and (max-width: 900px) {
	.lightning-component-container {
		flex-direction: column;
		margin: 0px;
	}

	.lightning-title {
		display: none;
	}

	.menu-container-blue-lightning-expand-wrapper {
		gap: 0px;
	}

	.slider-group {
		margin: 4px 0px;
	}

	.menu-container-blue-lightning-expand {
		max-width: 690px;
		min-width: 176px;
	}
}

/* 3d File Kategori Dropdown */
.select-menu {
	width: 228.89px;
	height: 42.07px;
}

.select-menu .select-menu-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8.70307px 12.1843px;
	cursor: pointer;
	justify-content: space-between;

	background: #e6f5f8;

	border: 0.870307px solid var(--primary-color-100);
}

.select-menu-button img {
	font-size: 25px;
	transition: 0.3s;
}

.select-menu-button span {
	display: flex;
	align-items: center;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 13.9249px;
	line-height: 21px;

	color: var(--text-color-50);

	opacity: 0.75;

	height: 24.66px;
}

.select-menu.active .select-menu-button img {
	transform: rotate(-180deg);
}

.select-menu .options {
	position: relative;
	padding: 0;
	/* margin-top: 10px; */
	margin: 10px 0px 0px 0px;
	background: var(--background-color-25);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	display: none;
}

.select-menu.active .options {
	display: block;
}

.options .option {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 8.70307px 12.1843px;
	gap: 6.96px;
	cursor: pointer;

	background: var(--background-color-25);

	border: 0.870307px solid var(--primary-color-100);
}

.options .option:hover {
	background: var(--primary-color-25);
}

.option .option-text {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 13.9249px;
	line-height: 21px;

	color: var(--text-color-50);

	opacity: 0.75;

	height: 24.66px;
}

/* information section */
.information-container {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 10%;
	left: 0;
	margin-left: 23px;
	margin-top: auto;
	margin-bottom: auto;

	display: none;
	flex-direction: column;
	justify-content: flex-start;
	padding: 12px 0px 12px 16px;
	gap: 5px;

	width: 250px;
	height: 40%;

	background: rgba(212, 242, 244, 0.8);

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;

	::-webkit-scrollbar {
		width: 10px;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #888;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}

.information-description {
	overflow-y: scroll;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;
	padding-right: 16px;

	color: var(--text-color-50);
}

.information-description-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: var(--text-color-25);
}

.information-description-model-number {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;

	color: var(--text-color-background-color-200);
}

.information-description-specification {
	font-weight: 700;
	display: flex;
	align-items: center;
	text-align: justify;
}

.information-specification-img {
	width: 100%;
}

.information-link {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;
	text-decoration-line: underline;

	color: var(--text-color-primary-color-200);
	padding-right: 16px;
}

/* catalogue section */
.catalogue-container {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 15%;
	right: 0;
	margin-right: 23px;
	margin-top: auto;
	margin-bottom: auto;

	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 12px 18px 12px 18px;
	gap: 5px;

	width: 225px;
	height: 55%;

	background: linear-gradient(
		180deg,
		#f7fbfc 0%,
		rgba(233, 254, 255, 0.62) 100%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;

	::-webkit-scrollbar {
		display: none;
	}
}

.catalogue-description-title {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: left;

	min-height: 29px;
	max-width: 170px;

	color: #475b74;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 1px 16px 0px 0px;
}

.catalogue-description {
	overflow-y: scroll;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;

	color: var(--text-color-50);
}

.catalogue-product-list {
	display: flex;
	margin-top: 17px;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 15px 0px 0px 0px;

	border: 1px solid #74e7d4;
	border-radius: 10px;

	height: 190px;
	width: 225px;

	cursor: pointer;

	transition: all 0.3s ease-in;
}

.catalogue-product-list:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list.active {
	border: 3px solid #189ab4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalogue-product-list.active:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list-text {
	color: #475b74;
	text-align: center;
	font-size: 16px;
}

.catalogue-image-preview {
	height: 100%;
	width: 100%;
}

.catalogue-description-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.catalogue-back-button {
	/* box-sizing: border-box; */

	width: 29px;
	height: 29px;

	background: #74e7d4;
	border: 1px solid #04445f;
	border-radius: 50%;

	display: flex;
	cursor: pointer;
}

.catalogue-back-button-img {
	margin: auto;
}

/* catalogue model number home */
.catalogue-container-2 {
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 15%;
	right: 0;
	margin-right: 23px;
	margin-top: auto;
	margin-bottom: auto;

	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 12px 18px 12px 18px;
	gap: 5px;

	width: 225px;
	height: 55%;

	background: linear-gradient(
		180deg,
		#f7fbfc 0%,
		rgba(233, 254, 255, 0.62) 100%
	);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;

	::-webkit-scrollbar {
		display: none;
	}
}

.catalogue-description-title-2 {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: center;

	min-height: 29px;

	color: #475b74;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 1px 16px 0px 0px;
}

.catalogue-description-2 {
	overflow-y: scroll;
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: justify;

	color: var(--text-color-50);
}

.catalogue-product-list-2 {
	display: flex;
	margin-top: 17px;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: 15px 0px 0px 0px;

	border: 1px solid #74e7d4;
	border-radius: 10px;

	height: 190px;
	width: 225px;

	cursor: pointer;

	transition: all 0.3s ease-in;
}

.catalogue-product-list-2:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list-2.active {
	border: 3px solid #189ab4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.catalogue-product-list-2.active:hover {
	box-shadow: 0px 4px 4px #74e7d4;
}

.catalogue-product-list-text-2 {
	color: #475b74;
	text-align: center;
	font-size: 16px;
}

.catalogue-image-preview-2 {
	height: 100%;
	width: 100%;
}

/* Page Name */
.page-name-container {
	padding: 18px 50px 18px 50px;
	background: var(--primary-color-50);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

@media (max-width: 1000px) {
	.page-name-container {
		display: none;
	}
}

.page-name-text {
	font-family: "Ubuntu";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	color: var(--primary-color-200);
}
